.place__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 26.08px;
  margin: 0 0 25px;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
    margin-bottom: 26px;
    line-height: 29.34px;
  }
}
