.cover {
  padding: 16px 0 64px;
}

@media screen and (min-width: 768px) {
  .cover {
    padding: 18px 0 88px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    padding: 12px 0 92px;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    padding: 12px 48px 92px;
  }
}
